* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a2e; /* Couleur de fond sombre */
  color: #eaeaea; /* Couleur de texte */
  min-height: 100vh; /* Assurez-vous que le corps prend toute la hauteur */
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
